html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .slider {
        display: none;
    }
}

@keyframes swipein_left {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.content {
    width: 100%;
}

.flexslider {
    max-width: 70%;
    width: auto;
    margin: 0 auto;
}

.flexslider a {
    padding: 0;
}

.flex-caption {
    height: 400px;
    line-height: 400px;
    text-align: center;
}

.flex-caption span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 8em;
    font-family: courier new, monospace;
    color: #4F7CAC;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.flex-active-slide .flex-caption {
    animation: swipein_left 1s ease 0.5s normal both 1 running;
}

h1 {
    padding: 50px 50px 0 50px;
}

img.breeds {
    float: right;
}

p.index {
    text-align: left;
    padding: 25px 25px 25px 25px;
    font-family: josefin, sans-serif;
    font-size: 15px;
}


p {
    margin: 0 50px;
}

table, th, td {
    margin: 50px;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

table.contact, th.contact, td.contact {
    margin: 50px;
    border: 0;
    border-collapse: collapse;
}

th.contact, td.contact {
    padding: 15px;
    text-align: left;
}

caption {
    font-size: 20px;
    color: #1b6d85;
}

#footer {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 36px;
}

div.box {
    margin: 0;
    padding: 10px;
    background-color: indianred;
}

p.footerindex {
    text-align: center;
}

ul.about {
    padding-left: 50px;
}

li.about {
    padding-left: 50px;
    font-size: 15px;
}




