@keyframes swipein_left {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.content {
    width: 100%;
}

.flexslider {
    max-width: 70%;
    width: auto;
    margin: 0 auto;
}

.flex-caption {
    font-size: 10em;
    text-align: center;
}

.flex-active-slide .flex-caption {
    animation: swipein_left 1s ease 0.5s normal both 1 running;
}

