@media only screen and (max-width: 768px) {
    .slider {
        display: none;
    }
}

@keyframes swipein_left {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.content {
    width: 100%;
}

.flexslider {
    max-width: 70%;
    width: auto;
    margin: 0 auto;
}

.flex-caption {
    height: 400px;
    line-height: 400px;
    text-align: center;
}

.flex-caption span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 8em;
    font-family: courier new, monospace;
    color: #BFFFF1;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.flex-active-slide .flex-caption {
    animation: swipein_left 1s ease 0.5s normal both 1 running;
}

h1 {
    padding: 50px 50px 0;
}

p {
    text-align: left;
    padding: 50px;
}

p.indexleft {
    text-align: left;
    padding: 50px;
}

p.indexright {
    text-align: right;
    padding: 50px;
}



